@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,900&display=swap');

.box{
    background: #111111;
    width: 85vh;
    min-height: 220px;
    max-height: 600px;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.titulo-principal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloudIcon{
    color: #d6d5d5;
    padding: 0.3em 0.3em 0 0;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    padding-top: 0.3em;
    color: #d6d5d5;
    font-weight: 900;
}

.input-dados{
    margin-top: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    text-align: center;
    border: none;
}

.input{
    background: #d6d5d5;
    width: 70vh;
    height: 40px;
    border-radius: 100px;
    transition: 0.5s all;
    border: none;
    outline: none;
}

.input:hover{
    width: 70vh;
    height: 40px;
    border-radius: 100px;
    border: none;
    transition: 0.5s all;
    background: #d1d1d1;
    outline: none;

}

::-webkit-input-placeholder{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.botao{
    margin-top: 0.8em;
    height: 45px;
    width: 100px;
    border-radius: 100px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #d6d5d5;
    cursor: pointer;
    transition: 0.5s all;
}

.botao:hover{
    margin-top: 0.8em;
    height: 45px;
    width: 100px;
    transition: 0.5s all;
    border-radius: 100px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #d1d1d1;
    cursor: pointer;
}

.clima-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-clima{
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25pt;
    color: #d6d5d5;
}

.img-clima{
    color: #d6d5d5;
    width: 60px;
    margin-top: -1.5em;
    height: 60px;
}

.clima-descricao{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #d6d5d5;
    text-transform: capitalize;
    margin-top: -0.2em;
}

.temperatura-container{
    display: block;
    margin: 0 auto;
}

.temperatura{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #d6d5d5;
    margin-top: -0.2em;
}

.local{
   display: flex;
   align-items: center;
   justify-content: center;
}

.local-icone{
    padding: 0.5em;
    color: #d6d5d5;
    margin-top: -1.2em;
}

.local-texto{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-top: -0.1em;
    color: #d6d5d5;
}

.maximo-minmo-umidade-texto{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #d6d5d5;
    margin-top: -0.1em;
    margin-bottom: 0.1em;
}

.msg-erro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1em;
}

.erro-icon{
    color: rgb(207, 95, 95);
    padding: 0.3em;
}

.msg-erro{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(207, 95, 95);
}

.rodape{
    text-align: center;
}

.rodape-texto{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(107, 107, 107);
}

.rodape a{
    text-decoration: none;
    font-style: italic;
    color: rgb(146, 146, 146);
    transition: 0.3s all;
}

.rodape a:hover{
    text-decoration: none;
    font-style: italic;
    color: rgb(146, 146, 146);
    font-size: 1.1em;
    transition: 0.3s all;
}

@media only screen and (max-width: 300px){
    .box{
        width: 100%;
    }

    .titulo-principal{
        flex-direction: column;
    }
    
    .titulo{
        padding-top: 0;
        padding-bottom: 0;
        font-size: 20pt;
    }

    .input, .botao{
        width: 80%;
    }

    .input:hover, .botao:hover{
        width: 83%;
        transition: 0.5 all ease-in;
    }

    .maximo-minmo-umidade-texto{
        font-size: 8pt;
    }
}

@media only screen and (max-width: 768px){
    .box{
        width: 90%;
    }

    .input, .botao{
        width: 80%;
    }

    .input:hover, .botao:hover{
        width: 83%;
        transition: 0.5 all ease-in;
    }
}

@media only screen and (max-width: 900px){
    .box{
        width: 80%;
    }

    .input, .botao{
        width: 80%;
    }

    .input:hover, .botao:hover{
        width: 83%;
        transition: 0.5 all ease-in;
    }
}